snippet doctype
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>${1:title}</title>
    </head>
    <body>
      ${0}
    </body>
  </html>
snippet stylesheet
  <link rel="stylesheet" href="${1:path/to.css}" />
snippet jsblock
  <script type="text/javascript">
  ${0}
  </script>
snippet script
  <script src="${0}"></script>
