[color]
	ui = auto
[core]
	pager = less -FXR
	excludesfile = ~/.gitexclude
[alias]
	mg = smart-merge

	lg = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %Cgreen(%an, %ar)%Creset'
	logrefs = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(green)(%an, %ar)%Creset' --simplify-by-decoration
	last-commits = for-each-ref --sort=committerdate refs/heads --format='%(refname:short): %(committerdate:relative)'
	filelg = log --pretty=format':%C(yellow)%h %C(reset)%s %C(green)(%an, %ar)%Creset' --follow

	wip = commit -am 'wip'
	fixup = commit -am 'fixup'

	co = checkout
	br = branch
	brv = branch -vv
	brd = branch -d
	brdd = branch -D
	cob = checkout -b

	rb = rebase
	rbi = rebase -i
	abort = rebase --abort
	continue = rebase --continue
	cp = cherry-pick

	it = !git init && git commit -m \"root\" --allow-empty

	; based on magit's commands, and vim (sort of)
	cc = commit -v
	cca = commit -va
	ca = commit -v --amend --no-edit
	caa = commit -va --amend --no-edit
	cw = commit -v --amend
	cwa = commit -va --amend

	pp = push
	pu = !git push -u origin "$(git rev-parse --abbrev-ref HEAD)"
	pf = push --force-with-lease

	gs = status -sb

	su = add -u
	sa = add .
	sc = add -p

	du = diff
	ds = diff --staged
	dc = show

	fo = smart-pull
	ff = fetch

[merge]
	tool = vimdiff
[push]
	default = simple
[branch]
	autosetuprebase = always
[include]
	path = ~/.gitconfig_local
[filter "irssi"]
	clean = "sed -e 's/sasl_password .*\";/sasl_password \"<SECRET>\";/'"

