[color]
	ui = auto
[core]
	pager = less $LESS -FXR
	excludesfile = ~/.gitexclude
[alias]
	co = checkout
	track = checkout -t
	up = smart-pull

	st = status -sb
	staged = diff --staged

	mg = smart-merge
	ff = merge --ff-only

	lg = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(black) %an, %ar%Creset'
	logrefs = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(black) %an, %ar%Creset' --simplify-by-decoration
	amend = commit -v --amend
	rb = rebase
	ci = commit -v
	a = add -u
	cia = commit -va
	di = diff
	cp = cherry-pick
	br = branch
	pu = push
	brv = branch -vv
	sh = show
	aamend = commit -va --amend
	fixup = commit -am 'fixup'
	prune = remote prune origin
	puu = push -u
	abort = rebase --abort
	puff = push -f
	brd = branch -d
	brdd = branch -D
	curr-branch = rev-parse --abbrev-ref HEAD
	last-commits = for-each-ref --sort=committerdate refs/heads --format='%(refname:short): %(committerdate:relative)'
	continue = rebase --continue
	cob = checkout -b
	rbi = rebase -i
	filelg = log --pretty=format':%C(yellow)%h %C(reset)%s %C(blue) %an, %C(black)%ar%Creset' --follow
	aa = add .
[merge]
	tool = vim -dg
[push]
	default = simple
[branch]
	autosetuprebase = always
[include]
	path = ~/.gitconfig_local
[credential]
	helper = osxkeychain
