[color]
	ui = auto
[core]
	pager = less $LESS -FXR
	excludesfile = ~/.gitexclude
[alias]
	up = smart-pull
	pu = push
	puu = push -u
	puje = push --force-with-lease
	prune = remote prune origin
	curr-branch = rev-parse --abbrev-ref HEAD

	st = status -sb
	staged = diff --staged
	di = diff
	sh = show

	mg = smart-merge
	ff = merge --ff-only

	lg = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(black) %an, %ar%Creset'
	logrefs = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(black) %an, %ar%Creset' --simplify-by-decoration
	last-commits = for-each-ref --sort=committerdate refs/heads --format='%(refname:short): %(committerdate:relative)'
	filelg = log --pretty=format':%C(yellow)%h %C(reset)%s %C(blue) %an, %C(black)%ar%Creset' --follow

	ci = commit -v
	cia = commit -va
	amend = commit -v --amend
	qamend = commit --amend --no-edit
	aamend = commit -va --amend
	qaamend = commit -a --amend --no-edit
	wip = commit -am 'wip'
	fixup = commit -am 'fixup'

	co = checkout
	br = branch
	brv = branch -vv
	brd = branch -d
	brdd = branch -D
	cob = checkout -b

	rb = rebase
	rbi = rebase -i
	abort = rebase --abort
	continue = rebase --continue
	cp = cherry-pick

	a = add -u
	aa = add .
	ap = add -p

	it = !git init && git commit -m \"root\" --allow-empty

[merge]
	tool = vimdiff
[push]
	default = simple
[branch]
	autosetuprebase = always
[include]
	path = ~/.gitconfig_local
[credential]
	helper = osxkeychain

