fish/.config/fish/fishd.*

lein/.lein/repl-history
lein/.lein/repl-port

spacemacs/.spacemacs.d/.spacemacs.env

ssh/.ssh/authorized_keys
ssh/.ssh/known_hosts
ssh/.ssh/ssh-agent-env
ssh/.ssh/id_*

x11/.local/share/fish/
x11/.local/share/nvim/

