[color]
	ui = auto

[core]
	pager = less $LESS -FXR
	excludesfile = ~/.gitexclude

[github]
	user = mamapitufo

[alias]
	co = checkout
	track = checkout -t
	up = smart-pull

	st = status --short
	staged = diff --staged

	mg = merge --no-ff
	ff = merge --ff-only

	lg = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(black) %an, %ar%Creset'
	logrefs = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(black) %an, %ar%Creset' --simplify-by-decoration
	amend = commit -v --amend
	rb = rebase
	ci = commit -v
	a = add -u
	cia = commit -va
	di = diff
	cp = cherry-pick
	br = branch
	pu = push

[merge]
	tool = vim -dg

[push]
	default = simple

[branch]
	autosetuprebase = always

[include]
	path = .gitconfig_local
[credential]
	helper = osxkeychain
