TERMINAL=/usr/bin/kitty
test -d ${HOME}/bin && export PATH=${HOME}/bin:${PATH}

# These need to be defined here to be picked up by i3.
export TERMINAL PATH

# dbus is needed for thunar...
if which dbus-launch >/dev/null && test -z "$DBUS_SESSION_BUS_ADDRESS"; then
   eval "$(dbus-launch --sh-syntax --exit-with-session)"
fi

eval $(/usr/bin/gnome-keyring-daemon --start)
export SSH_AUTH_SOCK

xss-lock -l -- xsecurelock &

start-pulseaudio-x11 &
