export TERMINAL=/usr/bin/alacritty
test -d ${HOME}/bin && export PATH=${HOME}/bin:${PATH}

export TERMINAL PATH

setxkbmap us_intl -option compose:menu -option ctrl:nocaps -option lv3:ralt_alt

# dbus is needed for thunar...
if which dbus-launch >/dev/null && test -z "$DBUS_SESSION_BUS_ADDRESS"; then
   eval "$(dbus-launch --sh-syntax --exit-with-session)"
fi

