[Desktop Entry]
Type=Application
TryExec=/home/mamapitufo/bin/Exodus
Exec=Exodus
Terminal=false
Categories=Application

Name=Exodus Wallet
GenericName=Crypto currency wallet
Comment=A cross-platform, multiple crypto-currency wallet
StartupWMClass=Exodus
Actions=New;
