[Desktop Entry]
Type=Application
TryExec=/home/mamapitufo/bin/code
Exec=code
Terminal=false
Categories=Application;Editors

Name=VSCode Editor
GenericName=Code Editor
Comment=A cross-platform code editor
StartupWMClass=Code
