[Desktop Entry]
Name=1Password
GenericName=1Password
Comment=1Password password manager
Exec=~/Library/1password-latest.AppImage
Terminal=false
Type=Application
Categories=Security
