[Desktop Entry]
Name=Chrysalis
GenericName=Chrysalis
Comment=keyboard.io layout configurator
Icon=preferences-desktop-keyboard
Exec=~/Library/Chrysalis.AppImage
Terminal=false
Type=Application
Categories=Utility;Keyboard
