configuration {
	modi: "combi,drun";
	combi-modi: "window,drun,run";

	font: "Roboto Mono 11";
	lines: 23;
	separator-style: "solid";

	run-command: "fish -c '{cmd}'";
	run-list-command: "fish -c functions";
}

@theme "/usr/share/rofi/themes/Arc.rasi"
